 
<% show_post  ||= false %>

<div class= 'row'>
  <div class='col-xs-2 col-md-1 well text-center vote'>
    <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post', remote: true do %>
    <i class='glyphicon glyphicon-thumbs-up'></i>

    <%end %> 

    <br />
<span id="comment_<%= comment.id %>_votes"> <%= comment.total_votes %> <span class='glyphicon glyphicon-heart'></span>  </span>


  </div>




  <div class="well col-xs-9 col-md-10">

    <en>"<%= comment.body %>" </en>

    <% if show_post %> 
    on <%= link_to comment.post.title, post_path(comment.post) %> 
    <% end %> 


  </br>
  <span class='quiet'> posted by: </span> <%= link_to comment.creator.username, user_path(comment.creator) %> 

  <small> at <%= display_datetime(comment.created_at) %></small>

</div>
</div>