 <div class="page-header">

 <h1> <%= @user.username %> 's Profile  </h1>
</div> 


<div class='well' id="user" >
   

  <dl class='dl-horizontal'>

    <dt> Username: </dt> 
    <dd> <%= @user.username %> </dd> 
    <dt> Profile Pic: </dt> 
    <dd> <%= image_tag "user_pics/#{@user.image}" %> </dd>
    <dt> Time Zone: </dt>
    <dd> <%= @user.time_zone %> </dd>
  </dl>
</div>

  <h2> <%= @user.username %>'s Activity </h2> 

  <br/>


  <ul class='nav nav-tabs'>
    <li class='<%= 'active' if params[:tab].nil? %>'>  <%= link_to "Posts (#{@user.posts.size})", user_path(@user) %> </li>

    <li class= '<%= 'active' if params[:tab] == 'comments' %>' ><%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %> </li>

  </ul>

<br/>

<%if params[:tab].nil? %> 

<% @user.posts.each do |post| %>
<%= render 'posts/post', post: post %> 

<% end %> 

<% elsif params[:tab] == 'comments' %>

<% @user.comments.each do |comment| %> 
<%= render 'comments/comment', comment: comment, show_post: true %>
<% end %> 

<% end %> 