<div class="row voterow">


  <div class='col-xs-2 col-md-1 well text-center vote'>
    <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
<i class='glyphicon glyphicon-thumbs-up'></i>

    <% end %>
  
<br />

<span class="vote_number" id='post_<%=post.slug%>_votes'><%= post.total_votes %> <span class='glyphicon glyphicon-heart'></span> </span>


  </div>



  <div class='col-xs-9 col-md-10 well'>
    <%= render post.categories %>
  
    <h4 class="title"><%= link_to post.title, post_path(post.generate_slug)%></h4>
    <p><%= post.description %></p>

    <p>
      <span class='quiet'> posted by: </span>
      <%= image_tag "user_pics/#{post.creator.image||'user_image_1.png'}", :alt=>'user picture'%>
      
      <%= link_to post.creator.username, user_path(post.creator) %> 
    
       <small> at <%= display_datetime(post.created_at) %></small>
    </p>

    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </small>
  </div>



</div>
