<div class="row">
<div class="col-md-12">

 

<%= render 'shared/content_title', title: @post.title %>
 <%= render @post.categories %>


<p class="description">

  <%= @post.description %>

</p>

<p class='pull-right'>

  <% if logged_in? %>
<% if can_edit?(@post) %>
  [<%= link_to 'edit this post', edit_post_path(@post)%>]
  [<%= link_to 'delete this post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>]

 <% end %>




<% end %>
</p>

 <br/>

<%= form_for [@post, @comment ], :html => { :class => "form-horizontal" } do |f| %>

<%= render 'shared/errors', obj: @comment %>

<div class="form-group">
    <%= f.label :body, 'Comment', class: 'col-sm-1 control-label' %>
    <div class="col-sm-11">
      <%= f.text_area :body, rows: 3, class: 'form-control' %>
    </div>
  </div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Create Comment", class: "btn btn-default" %>
    </div>



  <% end %>




  <h2> Comments: </h2>


  <% @post.reload.comments.each do |comment| %>

  <%= render 'comments/comment', comment: comment, show_post: false %> 


  <% end %>

</div>
</div>